@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('./reset.css');
@import url('./utility.css');

.theme-one {
  --mobile-view-background: hsl(222deg 26% 31%);
  --mobile-radio-input-background: hsl(223deg 31% 20%);
  --mobile-radio-input-checked: hsl(6deg 63% 50%);
  --mobile-radio-input-checked-hover: hsl(9deg 91% 64%);
  --mobile-text-colors: hsl(0deg 0% 100%);
  --user-input-background: hsl(224deg 36% 15%);
  --mobile-button-background: hsl(224deg 36% 15%);
  --mobile-button-keys-background: hsl(30deg 25% 89%);
  --mobile-button-keys-background-hover: hsl(0deg 0% 98%);
  --mobile-button-keys-color: hsl(221deg 14% 31%);
  --mobile-button-keys-box-shadow: hsl(28deg 16% 65%);
  --delete-key-background: hsl(225deg 21% 49%);
  --delete-key-background-hover: hsl(224deg 51% 76%);
  --delete-key-box-shadow: hsl(224deg 28% 35%);
  --reset-key-background: hsl(225deg 21% 49%);
  --reset-key-background-hover: hsl(224deg 51% 76%);
  --reset-key-box-shadow: hsl(224deg 28% 35%);
  --equal-to-key-background: hsl(6deg 63% 50%);
  --equal-to-key-background-hover: hsl(6deg 93% 67%);
  --equal-to-key-box-shadow: hsl(6deg 70% 34%);
  --white: hsl(0deg 0% 98%);
}

.theme-two {
  --mobile-view-background: hsl(0deg 0% 90%);
  --mobile-radio-input-background: hsl(0deg 5% 81%);
  --mobile-radio-input-checked: hsl(25deg 98% 40%);
  --mobile-radio-input-checked-hover: hsl(26deg 96% 60%);
  --mobile-text-colors: hsl(60deg 10% 19%);
  --user-input-background: hsl(0deg 0% 93%);
  --mobile-button-background: hsl(0deg 5% 81%);
  --mobile-button-keys-background: hsl(45deg 7% 89%);
  --mobile-button-keys-background-hover: hsl(0deg 0% 98%);
  --mobile-button-keys-box-shadow: hsl(34deg 11% 61%);
  --delete-key-background: hsl(185deg 42% 37%);
  --delete-key-background-hover: hsl(184deg 40% 56%);
  --delete-key-box-shadow: hsl(185deg 58% 25%);
  --reset-key-background: hsl(185deg 42% 37%);
  --reset-key-background-hover: hsl(184deg 40% 56%);
  --reset-key-box-shadow: hsl(185deg 58% 25%);
  --equal-to-key-background: hsl(25deg 98% 40%);
  --equal-to-key-background-hover: hsl(26deg 96% 60%);
  --equal-to-key-box-shadow: hsl(25deg 99% 27%);
  --white: hsl(0deg 0% 98%);
}

.theme-three {
  --mobile-view-background: hsl(268deg 75% 9%);
  --mobile-radio-input-background: hsl(268deg 71% 12%);
  --mobile-radio-input-checked: hsl(176deg 100% 44%);
  --mobile-radio-input-checked-hover: hsl(177deg 92% 70%);
  --mobile-text-colors: hsl(54deg 100% 51%);
  --user-input-background: hsl(268deg 71% 12%);
  --mobile-button-background: hsl(268deg 71% 12%);
  --mobile-button-keys-background: hsl(268deg 47% 21%);
  --mobile-button-keys-background-hover: hsl(268deg 54% 44%);
  --mobile-button-keys-box-shadow: hsl(290deg 70% 36%);
  --delete-key-background: hsl(281deg 89% 26%);
  --delete-key-background-hover: hsl(280deg 56% 44%);
  --delete-key-box-shadow: hsl(285deg 91% 52%);
  --reset-key-background: hsl(281deg 89% 26%);
  --reset-key-background-hover: hsl(280deg 56% 44%);
  --reset-key-box-shadow: hsl(285deg 91% 52%);
  --equal-to-key-background: hsl(176deg 100% 44%);
  --equal-to-key-background-hover: hsl(177deg 100% 79%);
  --equal-to-key-box-shadow: hsl(177deg 92% 70%);
  --white: hsl(0deg 0% 98%);
}

.pages-body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--mobile-view-background);
  color: var(--mobile-text-colors);
}

.calculator-container {
  width: 300px;
  min-height: 100vh;
}

.calculator-mainbody {
  min-height: 90vh;
  width: 100%;
}

.header {
  width: 100%;
  height: 10vh;
}

.header-texts {
  width: 80%;
  height: 80%;
}

.calc-text {
  font-size: 32px;
}

.label-input {
  flex-direction: column;
  width: 60px;
  height: 50px;
}

.labels {
  width: 50px;
  height: 25px;
}

.theme-inputs {
  background-color: var(--mobile-radio-input-background);
  border-radius: 1.3rem;
  width: 60px;
  height: 25px;
}

.theme-inputs input {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

input:checked {
  background-color: var(--mobile-radio-input-checked);
}

input:checked:hover {
  background-color: var(--mobile-radio-input-checked-hover);
}

.user-input-display {
  background-color: var(--user-input-background);
  height: 15vh;
  margin-top: 5px;
  border-radius: 10px;
  flex-direction: column;
}

.user-input {
  width: 97%;
  font-size: 32px;
  text-align: right;
  height: 7vh;
  justify-content: end;
}

.user-butns {
  height: 65vh;
}

.calculator-btns {
  background-color: var(--mobile-button-background);
  padding: 20px;
  border-radius: 1rem;
  margin-top: 20px;
  width: 300px;
}

.row {
  margin-bottom: 2%;
}

.btn {
  width: 20%;
  font-size: 30px;
  border-radius: 0.3rem;
  box-shadow: inset 0 -4px 0 var(--mobile-button-keys-box-shadow);
  background-color: var(--mobile-button-keys-background);
  color: var(--mobile-button-keys-color);
  height: 50px;
}

.btn:hover {
  background-color: var(--mobile-button-keys-background-hover);
}

.delete-btn {
  width: 20%;
  background-color: var(--delete-key-background);
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  border-radius: 0.3rem;
  box-shadow: inset 0 -4px 0 var(--delete-key-box-shadow);
}

.delete-btn:hover {
  background-color: var(--delete-key-background-hover);
}

.reset-btn {
  width: 48%;
  font-weight: 700;
  background-color: var(--reset-key-background);
  font-size: 25px;
  height: 50px;
  color: var(--white);
  border-radius: 0.3rem;
  box-shadow: inset 0 -4px 0 var(--reset-key-box-shadow);
}

.reset-btn:hover {
  background-color: var(--reset-key-background-hover);
}

.equal-to-btn {
  width: 48%;
  font-weight: 700;
  font-size: 25px;
  background-color: var(--equal-to-key-background);
  height: 50px;
  color: var(--white);
  border-radius: 0.3rem;
  box-shadow: inset 0 -4px 0 var(--equal-to-key-box-shadow);
}

.equal-to-btn:hover {
  background-color: var(--equal-to-key-background-hover);
}

.btn:active,
.operator-btn:active {
  transform: translateY(0.3rem);
}

.delete-btn:active,
.reset-btn:active,
.equal-to-btn:active {
  transform: translateY(0.3rem);
}
